@charset "utf-8";
/* 
@font-face{
	font-family: "NanumBarunGothic";
	src: url('/css/font/NanumBarunGothic.eot') format('eot');
	src: url('/css/font/NanumBarunGothic.woff') format('woff');
}

@font-face{
	font-family: "NanumBarunGothicBold";
	src: url('/css/font/NanumBarunGothicBold.eot') format('eot');
	src: url('/css/font/NanumBarunGothicBold.woff') format('woff');
}

@font-face {
	font-family: 'NanumBarunGothicLight';
	src: url('/css/font/NanumBarunGothicLightSubset.eot');
	src: url('/css/font/NanumBarunGothicLightSubset.eot?#iefix') format('embedded-opentype'),
	url('/css/font/NanumBarunGothicLightSubset.woff2') format('woff2'),
	url('/css/font/NanumBarunGothicLightSubset.woff') format('woff'),
	url('/css/font/NanumBarunGothicLightSubset.ttf') format('truetype');
}
@font-face {
	font-family: 'NanumBarunGothicUltraLight';
	src: url('/css/font/NanumBarunGothicUltraLightSubset.eot');
	src: url('/css/font/NanumBarunGothicUltraLightSubset.eot?#iefix') format('embedded-opentype'),
	url('/css/font/NanumBarunGothicUltraLightSubset.woff2') format('woff2'),
	url('/css/font/NanumBarunGothicUltraLightSubset.woff') format('woff'),
	url('/css/font/NanumBarunGothicUltraLightSubset.ttf') format('truetype');
} */
.subTitleArea .subTitleTop {
  width: 100%;
}
.subTitleArea.type21 {
  height: 475px;
  background: url("/img/service/rental/keyvisual.jpg") no-repeat 0 0;
  background-attachment: fixed;
  background-size: 100%;
}
h2.type03 {
  padding: 0;
  width: 1180px;
  margin: 0 auto;
  text-align: left;
}
.rentalServiceIntroWrap {
  overflow: hidden;
  background: url("/img/common/bg_signature.png") no-repeat top right;
}
.rentalServiceIntroWrap h3 {
  line-height: 1;
  font-size: 24px;
  color: #231f20;
  font-family: 'NanumBarunGothicUltraLight', 'Sans-serif';
}
.rentalServiceIntroWrap h3 span {
  font-weight: normal;
  font-family: 'NanumBarunGothicBold', 'Sans-serif';
  letter-spacing: -0.2px;
}
.rentalServiceIntroWrap .subContents .title-section {
  margin: 90px 0 0 0;
  padding-bottom: 100px;
  position: relative;
}
.rentalServiceIntroWrap .subContents .title-section p.desc {
  line-height: 1.467;
  font-size: 15px;
  padding-top: 13px;
}
.rentalServiceIntroWrap .subContents .title-section:after {
  position: absolute;
  content: " ";
  width: 100%;
  bottom: 0;
  left: 0;
  height: 0px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #ffffff;
}
.rentalServiceIntroWrap .subContents .title-section:before {
  position: absolute;
  content: " ";
  width: 441px;
  height: 132px;
  background: url("/img/service/rental/what_is.png") no-repeat 0 0;
  top: -30px;
  right: 11%;
}
.rentalServiceIntroWrap .subContents > .benefit {
  position: relative;
  margin: 100px 0 25px 0;
  padding-bottom: 70px;
}
.rentalServiceIntroWrap .subContents > .benefit h3 {
  margin-bottom: 25px;
  letter-spacing: -0.7px;
  font-family: 'NanumBarunGothic', 'Sans-serif';
}
.rentalServiceIntroWrap .subContents > .benefit .benefit-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.6%;
}
.rentalServiceIntroWrap .subContents > .benefit .benefit-items .benefit-item {
  width: 30%;
  height: 220px;
  margin: 40px 1.6%;
}
.rentalServiceIntroWrap .subContents > .benefit .benefit-items .benefit-item .title {
  font-size: 18px;
  font-family: 'NanumBarunGothicBold', 'Sans-serif';
  margin-bottom: 0.2em;
}
.rentalServiceIntroWrap .subContents > .benefit .benefit-items .benefit-item .desc {
  font-size: 15px;
  line-height: 1.4;
}
.rentalServiceIntroWrap .subContents > .benefit .benefit-items .benefit-item.benefit-01 {
  background: url("/img/service/rental/benefit_01.png") no-repeat center bottom;
}
.rentalServiceIntroWrap .subContents > .benefit .benefit-items .benefit-item.benefit-02 {
  background: url("/img/service/rental/benefit_02.png") no-repeat center bottom;
}
.rentalServiceIntroWrap .subContents > .benefit .benefit-items .benefit-item.benefit-03 {
  background: url("/img/service/rental/benefit_03.png") no-repeat center bottom;
}
.rentalServiceIntroWrap .subContents > .benefit .benefit-items .benefit-item.benefit-04 {
  background: url("/img/service/rental/benefit_04.png") no-repeat center bottom;
}
.rentalServiceIntroWrap .subContents > .benefit .benefit-items .benefit-item.benefit-05 {
  background: url("/img/service/rental/benefit_05.png") no-repeat center bottom;
}
.rentalServiceIntroWrap .subContents > .benefit:after {
  position: absolute;
  content: " ";
  width: 100%;
  bottom: 0;
  left: 0;
  height: 0px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #ffffff;
}
.rentalServiceIntroWrap .subContents .service-step-section {
  margin-top: 45px;
  position: relative;
  padding-bottom: 100px;
}
.rentalServiceIntroWrap .subContents .service-step-section:after {
  position: absolute;
  content: " ";
  width: 100%;
  bottom: 0;
  left: 0;
  height: 0px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #ffffff;
}
.rentalServiceIntroWrap .subContents .service-step-section h3 {
  margin-top: 102px;
  font-family: 'NanumBarunGothic', 'Sans-serif';
}
.rentalServiceIntroWrap .subContents .service-step-section .service {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rentalServiceIntroWrap .subContents .service-step-section .service dl {
  position: relative;
  width: 175px;
  background: none;
  padding-left: 0;
  padding-right: 0;
}
.rentalServiceIntroWrap .subContents .service-step-section .service dl dt {
  font-size: 22px;
  margin-bottom: 5px;
  font-family: 'NanumBarunGothicBold', 'Sans-serif';
  color: #231f20;
}
.rentalServiceIntroWrap .subContents .service-step-section .service dl dt span {
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: #801494;
  line-height: 1;
  margin-bottom: 17px;
  font-family: 'NanumBarunGothicLight', 'Sans-serif';
}
.rentalServiceIntroWrap .subContents .service-step-section .service dl dd {
  height: 83px;
  color: #231f20;
  font-size: 15px;
  line-height: 1.74;
}
.rentalServiceIntroWrap .subContents .service-step-section .service dl:nth-child(1) {
  background: url("/img/service/rental/step_01.png") no-repeat 0px bottom;
}
.rentalServiceIntroWrap .subContents .service-step-section .service dl:nth-child(2) {
  background: url("/img/service/rental/step_02.png") no-repeat 0px bottom;
}
.rentalServiceIntroWrap .subContents .service-step-section .service dl:nth-child(3) {
  background: url("/img/service/rental/step_03.png") no-repeat 0px bottom;
}
.rentalServiceIntroWrap .subContents .service-step-section .service dl:nth-child(4) {
  background: url("/img/service/rental/step_04.png") no-repeat 0px bottom;
}
.rentalServiceIntroWrap .subContents .service-step-section .service dl:nth-child(5) {
  background: url("/img/service/rental/step_05.png") no-repeat 0px bottom;
}
.rentalServiceIntroWrap .subContents .service-step-section .service dl:nth-child(6) {
  background: url("/img/service/rental/step_06.png") no-repeat 0px bottom;
}
.rentalServiceIntroWrap .subContents .service-step-section .service dl:nth-child(7) {
  background: url("/img/service/rental/step_07.png") no-repeat 0px bottom;
}
.rentalServiceIntroWrap .subContents .service-step-section .service dl:before {
  content: "";
  display: block;
  width: 20px;
  height: 100%;
  position: absolute;
  right: -28%;
  background: url("/img/service/rental/service_step_bullet.png") no-repeat center center;
}
.rentalServiceIntroWrap .subContents .service-step-section .service dl:last-child:before {
  display: none;
}
.rentalServiceIntroWrap .subContents .rental-type-section {
  margin-top: 100px;
  position: relative;
  padding-bottom: 55px;
}
.rentalServiceIntroWrap .subContents .rental-type-section:after {
  position: absolute;
  content: " ";
  width: 100%;
  bottom: 0;
  left: 0;
  height: 0px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #ffffff;
}
.rentalServiceIntroWrap .subContents .rental-type-section h3 {
  font-family: 'NanumBarunGothic', 'Sans-serif';
}
.rentalServiceIntroWrap .subContents .rental-type-section > .desc {
  font-size: 15px;
}
.rentalServiceIntroWrap .subContents .rental-type-section .spliter {
  border-bottom: 1px solid #812991;
  position: relative;
  margin: 70px auto 60px;
  width: 52%;
}
.rentalServiceIntroWrap .subContents .rental-type-section .spliter > span {
  display: inline-block;
  padding: 0 20px;
  background-color: #F3F3F3;
  color: #812991;
  font-size: 20px;
  line-height: 1;
  margin-bottom: -10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -13%;
}
.rentalServiceIntroWrap .subContents .rental-type-section .service-desc {
  margin: 40px auto;
  text-align: center;
}
.rentalServiceIntroWrap .subContents .rental-type-section .rental-type-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.rentalServiceIntroWrap .subContents .rental-type-section .rental-type-list dl.rental-item {
  position: relative;
  width: 270px;
  margin: 0 42px;
}
.rentalServiceIntroWrap .subContents .rental-type-section .rental-type-list dl.rental-item dt {
  font-size: 22px;
  font-family: 'NanumBarunGothicBold', 'Sans-serif';
}
.rentalServiceIntroWrap .subContents .rental-type-section .rental-type-list dl.rental-item dd {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.6;
}
.rentalServiceIntroWrap .subContents .rental-type-section .rental-type-list dl.rental-item:nth-child(1) {
  background: url("/img/service/rental/rental_type_01.png") no-repeat right center;
}
.rentalServiceIntroWrap .subContents .rental-type-section .rental-type-list dl.rental-item:nth-child(2) {
  background: url("/img/service/rental/rental_type_02.png") no-repeat right center;
}
.rentalServiceIntroWrap .subContents .rental-type-section .rental-type-list dl.rental-item:nth-child(3) {
  background: url("/img/service/rental/rental_type_03.png") no-repeat right center;
}
.rentalServiceIntroWrap .subContents .rental-guidance {
  overflow: hidden;
  clear: both;
  margin-top: 100px;
  position: relative;
  padding-bottom: 15px;
}
.rentalServiceIntroWrap .subContents .rental-guidance h3 {
  font-family: 'NanumBarunGothic', 'Sans-serif';
}
.rentalServiceIntroWrap .subContents .rental-guidance p.desc {
  font-size: 15px;
}
.rentalServiceIntroWrap .subContents .rental-guidance .serice-item {
  width: 566px;
}
.rentalServiceIntroWrap .subContents .rental-guidance .serice-item h4 {
  font-size: 34px;
  font-family: 'NanumBarunGothicUltraLight', 'Sans-serif';
  color: #812990;
  line-height: 1;
}
.rentalServiceIntroWrap .subContents .rental-guidance .serice-item.item-free {
  float: left;
}
.rentalServiceIntroWrap .subContents .rental-guidance .serice-item.item-free img {
  margin-top: 20px;
}
.rentalServiceIntroWrap .subContents .rental-guidance .serice-item.item-other {
  float: right;
}
.rentalServiceIntroWrap .subContents .rental-guidance .contractInfo .customerInfo {
  display: flex;
  position: relative;
  top: 32px;
}
.rentalServiceIntroWrap .subContents .rental-guidance .contractInfo .customerInfo > ul > li {
  margin-right: 15px;
}
.rentalServiceIntroWrap .subContents .rental-guidance .contractInfo .customerInfo > ul > li:last-child {
  margin-right: 0;
}
.rentalServiceIntroWrap .subContents .rental-guidance .serice-tabs {
  margin-top: 25px;
  padding-bottom: 30px;
  overflow: hidden;
}
.rentalServiceIntroWrap .subContents .rental-guidance .serice-tabs li {
  float: left;
  margin: 0 25px;
  text-align: center;
  position: relative;
  font-size: 18px;
  cursor: pointer;
}
.rentalServiceIntroWrap .subContents .rental-guidance .serice-tabs li.active {
  color: #812990;
  font-family: 'NanumBarunGothicBold', 'Sans-serif';
}
.rentalServiceIntroWrap .subContents .rental-guidance .serice-tabs li.active:before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 7px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAHCAYAAADam2dgAAAAZUlEQVQYlXXNsQmDUBhF4S+PzCJkHYdIZ6n9G0BwAB0hWcFFrK3tLE3zG0R4t7n3wIH7yK/hg1o534QGW0HY0CSs6ApSizUFjJhvwowJTunAG3vwHnxcJViQY+dg8Lxd9Kii//kBcIkT0dQynmAAAAAASUVORK5CYII=);
  bottom: -15px;
  background-position: center center;
  background-repeat: no-repeat;
}
.rentalServiceIntroWrap .subContents .rental-guidance .serice-tabs li:after {
  cursor: default;
  content: '';
  border-right: 1px solid #ccc;
  position: absolute;
  left: -25px;
  top: 0;
  height: 100%;
  width: 1px;
  display: block;
}
.rentalServiceIntroWrap .subContents .rental-guidance .serice-tabs li:first-child {
  margin-left: 0;
}
.rentalServiceIntroWrap .subContents .rental-guidance .serice-tabs li:first-child:after {
  border: none;
}
.rentalServiceIntroWrap .subContents .serice-tabs-item {
  border-top: 1px solid #313131;
  border-bottom: 1px solid #313131;
}
.rentalServiceIntroWrap .subContents .listType.service-desc {
  margin-top: 70px;
}
.rentalServiceIntroWrap .subContents .listType.service-desc h3 {
  margin-bottom: 0px;
  font-family: 'NanumBarunGothic', 'Sans-serif';
}
.rentalServiceIntroWrap .rental-guidance-tabs {
  position: relative;
  padding-bottom: 55px;
}
.rentalServiceIntroWrap .rental-guidance-tabs .numTitle {
  display: flex;
  width: 345px;
  margin-top: -4px;
}
.rentalServiceIntroWrap .rental-guidance-tabs .numTitle span.num {
  font-family: 'Spoqa Han Sans Bold', 'Sans-serif';
  font-weight: bold;
  color: #e0e2e2;
  font-size: 64px;
  letter-spacing: -1px;
  margin-right: 25px;
}
.rentalServiceIntroWrap .rental-guidance-tabs .numTitle h3 {
  font-family: 'NanumBarunGothic', 'Sans-serif';
  color: #333;
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 10px;
}
.rentalServiceIntroWrap .rental-guidance-tabs .numTitle h3:after {
  display: none;
}
.rentalServiceIntroWrap .rental-guidance-tabs:after {
  position: absolute;
  content: " ";
  width: 100%;
  bottom: 0;
  left: 0;
  height: 0px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #ffffff;
}
.rentalServiceIntroWrap .rental-guidance-tabs .warranty-howto {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1.47;
}
.rentalServiceIntroWrap .rental-guidance-tabs .warranty-howto h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.rentalServiceIntroWrap .rental-guidance-tabs .warranty-howto h4 small {
  font-size: 15px;
}
.rentalServiceIntroWrap .rental-guidance-tabs .warranty-howto img {
  margin-top: 20px;
}
.rentalServiceIntroWrap .rental-guidance-tabs .warranty-howto > div {
  background-color: #FFF;
  padding: 35px;
  width: 500px;
}
.rentalServiceIntroWrap .rental-guidance-tabs .warranty-noti {
  margin-top: 20px;
  font-size: 15px;
}
.rentalServiceIntroWrap .rental-guidance-tabs .warranty-noti a {
  color: #0066cf;
}
.rentalServiceIntroWrap .rental-guidance-tabs .service-check {
  margin-top: 63px;
}
.rentalServiceIntroWrap .rental-guidance-tabs .service-check h3 {
  margin: 0;
  letter-spacing: 1.2px;
}
.rentalServiceIntroWrap .rental-guidance-tabs .service-check p {
  margin: 15px 0 20px;
  line-height: 1.47;
  font-size: 15px;
}
.rentalServiceIntroWrap .affiliated-card {
  margin-top: 100px;
  position: relative;
  padding-bottom: 55px;
}
.rentalServiceIntroWrap .affiliated-card h3 {
  font-family: 'NanumBarunGothic', 'Sans-serif';
}
.rentalServiceIntroWrap .affiliated-card p.desc {
  font-size: 15px;
}
.rentalServiceIntroWrap .affiliated-card .benefit {
  margin-top: 25px;
}
.rentalServiceIntroWrap .affiliated-card .overdue {
  font-size: 15px;
}
.popupWrap.type04.rental {
  width: 1140px;
}
.popupWrap.type04.rental h3 {
  font-family: 'NanumBarunGothic', 'Sans-serif';
}
.rental-service-type {
  display: flex;
  justify-content: space-between;
}
.rental-service-type .serice-item {
  width: 566px;
}
.rental-service-type .serice-item h4 {
  font-size: 34px;
  font-family: 'NanumBarunGothicUltraLight', 'Sans-serif';
  color: #812990;
  line-height: 1;
}
.rental-service-type .serice-item.item-free {
  width: 495px;
}
.rental-service-type .serice-item.item-free img {
  margin-top: 40px;
}
.rental-service-type .serice-item.item-other > p {
  font-size: 15px;
  margin-top: 10px;
}
.rental-service-type .serice-tabs {
  margin-top: 25px;
  padding-bottom: 30px;
  overflow: hidden;
}
.rental-service-type .serice-tabs li {
  float: left;
  margin: 0 25px;
  text-align: center;
  position: relative;
  font-size: 18px;
  cursor: pointer;
  font-family: 'NanumBarunGothic', 'Sans-serif';
}
.rental-service-type .serice-tabs li.active {
  color: #812990;
  font-family: 'NanumBarunGothicBold', 'Sans-serif';
}
.rental-service-type .serice-tabs li.active:before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 7px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAHCAYAAADam2dgAAAAZUlEQVQYlXXNsQmDUBhF4S+PzCJkHYdIZ6n9G0BwAB0hWcFFrK3tLE3zG0R4t7n3wIH7yK/hg1o534QGW0HY0CSs6ApSizUFjJhvwowJTunAG3vwHnxcJViQY+dg8Lxd9Kii//kBcIkT0dQynmAAAAAASUVORK5CYII=);
  bottom: -15px;
  background-position: center center;
  background-repeat: no-repeat;
}
.rental-service-type .serice-tabs li:after {
  cursor: default;
  content: '';
  border-right: 1px solid #ccc;
  position: absolute;
  left: -25px;
  top: 0;
  height: 100%;
  width: 1px;
  display: block;
}
.rental-service-type .serice-tabs li:first-child {
  margin-left: 0;
}
.rental-service-type .serice-tabs li:first-child:after {
  border: none;
}
.rental-service-type .serice-tabs-item {
  border-top: 1px dashed #313131;
  border-bottom: 1px dashed #313131;
}
.serviceIntro h3:after {
  display: none;
}
